$white: #fff5ff;
$red: #ff2d5b;
$light-sky: #6ac3ff;
$dark-sky: #0099ff;
$light-pink: #ffa7ef;
$pink: #ff84e8;
$dark-pink: #d45cbf;
$light-yellow: #ffea00;
$dark-yellow: #ffc300;
$brown: #ecb767;
$dark-brown: #d3a054;
